body{
  margin: 0;
}
.container{
  display: grid;
  grid-template-columns: 3% 12% 6% 6% 11% 6% 12% 6% 12% 10% 6% 5% 5% ;
  grid-template-rows: 6% 11% 32% 13% 24% 7% 7%;
  height: 100vh;

}
.section{
  border: 3px solid black;
  box-sizing: border-box;
}
.section1{
  background: white;
  grid-area: 1 / 1 / span 2 / span 1;
}
.section2{
  background: white;
  grid-area: 1 / 2 / span 1 / span 5;
}
.section3{
  background: white;
  grid-area: 1 / 7 / span 1 / span 5;
}
.section4{
  background: white;
  grid-area: 1 / 12 / span 3 / span 1;
}
.section5{
  background: yellow;
  grid-area: 1 / 13 / span 3 / span 1;
}
.section6{
  background: blue;
  grid-area: 2 / 2 / span 1 / span 5;
}
.section7{
  background: white;
  grid-area: 2 / 7 / span 1 / span 3;
}
.section8{
  background: blue;
  grid-area: 2 / 9 / span 1 / span 3;
}
.section9{
  background: black;
  grid-area: 3 / 1 / 5 / span 1;
}
.section10{
  background: white;
  grid-area: 3 / 2 / 5 / 3;
}
.section11{
  background: black;
  grid-area: 3 / 3 / 7 / 4;
}
.section12{
  background: white;
  grid-area: 3 / 4 / 4 / 6;
}
.section13{
  background: white;
  grid-area: 3 / 6 / 4 / 7;
}
.section14{
  background: yellow;
  grid-area: 3 / 7 / 4 / 9;
}
.section15{
  background: red;
  grid-area: 3 / 9 / 4 / 11;
}
.section16{
  background: red;
  grid-area: 3 / 11 / 4 / 12;
}
.section17{
  background: yellow;
  grid-area: 4 / 4 / 5 / 5;
}
.section18{
  background: red;
  grid-area: 4 / 5 / 5 / 7;
}
.section19{
  background: blue;
  grid-area: 4 / 7 / 5 / 9;
}
.section20{
  background: white;
  grid-area: 4 / 9 / 5 / 11;
}
.section21{
  background: white;
  grid-area: 4 / 11 / 5 / 12;
}
.section22{
  background: black;
  grid-area: 4 / 12 / 5 / 14;
}
.section23{
  background: white;
  grid-area: 5 / 1 / 7 / 2;
}
.section24{
  background: red;
  grid-area: 5 / 2 / 7 / 3;
}
.section25{
  background: yellow;
  grid-area: 5 / 4 / 8 / 5;
}
.section26{
  background: white;
  grid-area: 5 / 5 / 6 / 8;
}
.section27{
  background: white;
  grid-area: 5 / 8 / 6 / 10;
}
.section28{
  background: blue;
  grid-area: 5 / 10 / 6 / 11;
}
.section29{
  background: yellow;
  grid-area: 5 / 11 / 6 / 12;
}
.section30{
  background: white;
  grid-area: 5 / 12 / 6 / 14;
}
.section31{
  background: white;
  grid-area: 7 / 1 / 8 / 4;
}
.section32{
  background: red;
  grid-area: 6 / 5 / 8 / 7;
}
.section33{
  background: black;
  grid-area: 6 / 7 / 8 / 10;
}
.section34{
  background: white;
  grid-area: 6 / 10 / 8 / 14;
}
